/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d-non {
    display: none;
}



body{
    background-color: #b91547;
}

/* ---------------
    form
-----------------*/
h1{
    text-align: center;
    color: white;
}

#create-ticket-form{
    background-color: white;
    border-radius: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-container{
    padding: 30px;
    display: flex;
}

.buttons{
    padding-bottom: 30px;
}

.small-container-field{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}


/* ----------------------
        ticket
------------------------*/

h2{
    text-align: center;
    color: white;
}


.card-container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.row{
border-top: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
display: flex;
}

.col-name{
    background-color: rgb(110, 110, 110);
    color: white;
    padding: 10px 20px;
}

.col-table{
    padding: 10px 20px;
}

table{
    border-spacing: 20px 10px;
}


